#impulseposter{
    margin-top: 2rem ;
}
    
#jack {
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}
.jack {
    max-width:100%;
    height: auto;
    _border: solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    background-color: white;
    object-fit: cover;
}

#pur, #logovarianten{
    padding-top:2rem;
}


.bilderhoch{ 
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);

}
.bilderquer{
    width:300px;
    height: auto;
    _border: solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    background-color: white;
    object-fit: cover;
 
}



.bilderquadrat {
    width: 350px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}


.figurequer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding-bottom: 2rem;
}

.merch{
    width: 300px;
    height: auto;
}

.merch1 {
    width: 350px;
    height: auto;
}

.merch2 {
    width: 350px;
    height: auto;
}
.merch3 {
    width: 350px;
    height: auto;
}



@media (min-width: 767px){


    #jack {
        width: 100%;
        max-width: 600px;
        object-fit: cover;
    }

    #pur, #logovarianten{
        padding-top:0rem;
    }

    
    
    /* MERCH IM SLIDER SKALIERUNG */
    .merch{
        width:300px;
        height: auto;
    }

    .merch1 {
        width: 400px;
        height: auto;
    }

    .merch2{
        width:400px;
        height: auto;
    }

    .merch3 {
        width: 250px;
        height: auto;
    } 
    
    /* BILDER IM SLIDER SKALIERUNG */

    .bilderhoch { 
        width: 400px; 
    }

    .figurequer{      
        width:auto;
        
    }
    .bilderquer{
        width: 600px;
        object-fit: cover;
    }

    .bilderquadrat {
        width: 400px;
        object-fit: cover;
    }


}


@media (min-width: 1024px){

    .merch{
        width:400px;
        
    }

    .merch1{
        width: 700px;
    }
    .merch2{
        width: 500px;
    }

    .merch3{
        width: 250px;
    }
    
    .bilderhoch { 
        max-width: none;
        width: 450px;
       
    }
    .figurequer{
        width: 600px;
        height: auto;
  
    }
    .bilderquer{
        min-width: 700px;
        max-height: 100%;
        object-fit: cover;
    }
    .bilderquadrat {
        width: 600px;
        max-height: 100%;
        object-fit: cover;
    }

    #jack {
        width: 100%;
        max-width: 800px;
        object-fit: cover;
    }

    #photography .content{
        padding-top: 2rem;
    }



    


}
