
#hello {
    padding-top: 2rem;
}



#webich img{
    width: 100%;
    max-width: 200px;
    border-radius: 1rem;
}

h1 {
    padding: 1rem 0rem 3rem 0rem;
    font-size: 1.2rem;
}

h4 {
    font-size: 1.2rem;
    padding-top: 5rem;
    height: 200px;
}
.contact {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
.contact ul{
   max-width:100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   list-style: none;

}

.contact ul li a{
    color: #4cc4f7;
  
}
.contact h4{
    padding-bottom: 2rem;
}



    
#jack {
    display: flex;
    justify-content: center;
    align-items: center;
    height:400px;
}

.bilderhoch{ 
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);

}
.bilderquer{
    width: 300px;
    _border: solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
 
}

.figurequer{
    display: flex;
    align-items: center;
    justify-content: center;
   width: auto;
   height: 500px;
}

.merch {
    width: 200px;
    height: auto;
}
.merch2 {
  
    width: 250px;
    height: auto;
}
.merch3 {
    width: 150px;
    height: auto;
}


@media (min-width: 641px){

    h1 {
  
        text-align: end;
        max-width: 400px;
  

    }

    #webich {
        display: flex;
        gap: 2rem;

     
    }

    .merch{
        width:300px;
    }

    .merch3 {
        width: 250px;
        height: auto;
    }
    
    
    
    .bilderhoch { 
        width: 300px; 
    }
    .figurequer{
          
        width:auto;
        
    }
    .bilderquer{
        width: 350px;
       
        object-fit: cover;
    }
    #photography .content{
        display: flex;
        justify-content: space-around;
    }

    .contact ul{
        max-width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
     
     }
    #gefallen {
        padding-top: 5rem;  
    }


}


@media (min-width: 1008px){

    .merch{
        width:300px;
    }
    .merch2{
        width: 400px;
    }

    .merch3{
        width: 250px;
    }
    
    .bilderhoch { 
        max-width: none;
        width: 350px;
       
    }
    .figurequer{
        width: 500px;
  
    }
    .bilderquer{
        width: 600px;
        max-height: 100%;
        object-fit: cover;
    }

    #photography .content{
        display: flex;
        justify-content: space-around;
    }

    .videowrapper{
        max-width: 1100px;
    }

    #gefallen {
        position: relative;
        bottom: 8rem;
    }
    
    #jack {
        height:500px;
    }

    h4 {
        font-size: 1.2rem;
        padding-top: 2.5rem;
        height: 80px;
    }
}
