
#hello{
   padding-top:3rem;
   height: 100vh; 
}

#contact {
    height: 90vh;
    
}
#webichwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#webich {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 5rem;
   
}


#webich img{
    width: 100%;
    max-width: 200px;
    border-radius: 0.5rem;
}

h1 {
    padding: 1rem 0rem 3rem 0rem;
    font-size: 1.3rem;
    width: 300px;
}

#impulseposter{

    margin-top: 2rem ;
}
    
#jack {
    display: flex;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}



#pur, #logovarianten{
    padding-top:2rem;
}


.bilderhoch{ 
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);

}
.bilderquer{
    width:300px;
    height: auto;
    _border: solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    background-color: white;
    object-fit: cover;
 
}

.jack {
    max-width:100%;
  
    height: auto;
    _border: solid 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    background-color: white;
    object-fit: cover;
    margin-top: 2rem;
}

.bilderquadrat {
    width: 350px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}


.figurequer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 500px;
    padding-bottom: 2rem;
}

.merch{
    width: 350px;
    height: auto;
}

.merch1 {
    width: 350px;
    height: auto;
}

.merch2 {
    width: 350px;
    height: auto;
}
.merch3 {
    width: 350px;
    height: auto;
}

/*---- KONTAKT Seite -----*/

.contact {
    display: flex;
    flex-wrap: wrap;
    _border: solid #333333 0.2rem;
    border-radius: 1.6rem;
    margin-top: 5rem;
    height:auto;
    width: 300px;


}

.contact h4 { 
    font-size: 1.6rem;
}

.contact a{
    color:#a1aafa;
    padding: 2rem 0rem 0.7rem 0rem;
    font-family: 'Rubik';
    font-size: 1.3rem;
     
}

.contact a:hover {
    color: var(--rot);
}

@media (min-width: 767px){

    #webich{
        flex-wrap: nowrap;
        padding-top: 2rem;
    }

    #hello {
        padding-top: 8rem;
    }

    .hello-text {
        width: 400px;
        margin-left: 0.5rem;
    }

    #jack {
        width: 100%;
        max-width: 600px;
        object-fit: cover;
    }

    #pur, #logovarianten{
        padding-top:0rem;
    }

 
    
    
    /* MERCH IM SLIDER SKALIERUNG */
    .merch{
        width:300px;
        height: auto;
    }

    .merch1 {
        width: 400px;
        height: auto;
    }

    .merch2{
        width:400px;
        height: auto;
    }

    .merch3 {
        width: 250px;
        height: auto;
    } 
    
    /* BILDER IM SLIDER SKALIERUNG */

    .bilderhoch { 
        width: 300px; 
    }

    .figurequer{      
        width:auto;
        
    }
    .bilderquer{
        width: 400px;
        object-fit: cover;
    }

    .bilderquadrat {
        width: 350px;
        object-fit: cover;
    }

    #photography .content{
        display: flex;
        justify-content: space-around;
    }


    .contact ul{
        max-width:100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
     
     }



}


@media (min-width: 1024px){

    #hello{
        padding-top: 0;
    }

    #webich {
        padding-left: 12rem;
    }

    .merch{
        width:450px;
        
    }

    .merch1{
        width: 700px;
    }
    .merch2{
        width: 500px;
    }

    .merch3{
        width: 250px;
    }
    
    .bilderhoch { 
        max-width: none;
        width: 450px;
       
    }
    .figurequer{
        width: 600px;
        height: 800px;
  
    }
    .bilderquer{
        min-width: 700px;
        max-height: 100%;
        object-fit: cover;
    }
    .bilderquadrat {
        width: 600px;
        max-height: 100%;
        object-fit: cover;
    }

    #photography .content{
        display: flex;
        justify-content: space-around;
    }

    
    #jack {
        width: 100%;
        max-width: 800px;
        object-fit: cover;
    }

    /* KONTAKT SEITE */

    .contact {
        gap: 1%;
    }

    #contact {
        padding-top: 0;
        
    }
    .contact {
        margin-top: 6rem;
       
    }
    .contact h4{
        font-size: 1.8rem;
    }


}
