/* rubik-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Light';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/rubik-v28-latin/rubik-v28-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Italic';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/rubik-v28-latin/rubik-v28-latin-300italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Italic Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin/rubik-v28-latin-italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin/rubik-v28-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Bold';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-latin/rubik-v28-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


  :root{
    --white: rgb(251, 251, 250);
    --grau: rgba(128,128,128,0,5);
    --blau: #a1aafabd;
    --gelb: #FCF8CD;
    --rot: #fa5480;
    --rose: #F8CDFC; 
    background-color: #fb628b;
    background-color: #fbf7d0;
    background-color: #D0D4FB;

}

