div .gridwrapper{
    position: relative;
    margin-top: 4rem;
    display: block;
    max-width: 100%;

    }



.aside {
    grid-area:aside; 
    
    
}

.aside-h2{
    font-family: 'Rubik Italic Regular';
    color: rgba(20, 20, 19, 0.857);
    font-size: 1,3rem;
    text-transform: uppercase;
    padding: 1rem 0.5rem 0.5rem;
    background-color: var(--white);
    margin-bottom: 3rem;

}


.content {
    grid-area:con;
    display: flex;
    align-items:last baseline;
    justify-content: center;
    flex-wrap: wrap;
    _border: solid 1px #333333;
    margin-bottom: 2rem;
    min-height: 200px;
    width: 100%;

}


.content img{
    max-width: 100%;
  
}


.info {
    grid-area: info;
}


.info-h3 {
    font-family: "Rubik Italic Regular";    color: #333333;
    font-size: 0.9rem;
    text-align: end;
  
    
}
    




@media (min-width: 641px){

    
    .aside-h2{
        position: relative;
        font-size: 2rem;
        font-family: 'Rubik Italic';
       
      
    }
    .aside{
        z-index: 100;
     
    }
    
    .content {
        align-items: center;
        flex-wrap: wrap;
        
    }
    .info {
        display: flex;
        justify-content: flex-end;
             
    }
}

@media (min-width: 1008px){

   div .gridwrapper { 
    display: grid;
    grid-template-columns: 20% auto 20px;
    grid-template-rows: 700px 50px;
    grid-template-areas:  
    "aside  con side "  
    "aside info side ";
    
}
#contact .gridwrapper{

    grid-template-rows: 500px 50px;
}


.aside-h2{
    display: none;
}
.aside{
    z-index: 10;
   
}

.content {

    justify-content: center;
    overflow: hidden;
    z-index: 10;
 

}

.info {
    margin-right: 70px;
    margin-top: 20px;
    border-bottom: solid 1px;
    
}


}
