#hello{
    padding-top:6rem;
    height: 100vh;  
    
 }

 #webichwrapper {

    width: 100%;
    justify-content:end;
    gap: 2%;
    align-items: center;
}

#webich {  
    position: absolute; 
    top: 2rem;
    width: 140px;
    object-fit: cover;
 
   
}

#webich img{
    width: 100%;
    border-radius: 0.5rem;
   
}

#hello-text {
    position: absolute;
    top: 18rem;
    font-family: 'Rubik Light';
    background-color: #a1aafa78;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
    line-height: 2rem;
    font-size: 1.2rem;
    left: 0;
    width: 330px;
    
   
}

@media (min-width: 767px){

    #webichwrapper {
        justify-content: center;
        align-items: first baseline;
    }


    #hello{
        padding-top: 6rem;
    }

    #webich{
        position: relative;
        width: 160px;
        top: 3rem;
    }

    #hello-text{
        position: relative;
        width: 400px;
        font-size: 1.3rem;
        line-height: 2.4rem;
        height: auto;
        top: 0;
       
        
    
    }

}

@media (min-width: 1024px){

    #hello{
        padding-top: 0;
    }





}