#myselfId {
    display: block;
    width: 50px;
    height: 120px;
    background-image: url(/img/SVG/ich_skate2.svg);
    background-repeat: no-repeat;
    position: fixed;
        top: 1.5%;
        right: 3%;
       
        z-index: 99002;
           
        animation-name: example;
        animation-duration: 8s;
        animation-delay: 2s;



}
#sesselId{
    position: fixed;
}

@keyframes example {
    0%   {right:1%; top:5%;}
    15%  {right:200px; top:5%;}
  
    65%  { right:800px; top:5%;}
    75%  { right:800px; top:0%;}
    100% { right:1800px; top:0%;}
}



@media (min-width: 641px){
    

    #myselfId {
        display: flex;
        justify-content: end;
        width: 100px;
        height: 100px;
        background-image: url(../img/SVG/ich_skate2.svg);
        background-repeat: no-repeat;
        _background-color: rgb(255, 64, 0);
        object-fit: cover;
        position: fixed;
        top: 2rem;
        right: 2%;
       
        z-index: 9002;
    }
   

    #myselfId:hover {
    
   
        background-image: url(/img/SVG/ich_skate.svg);
        width: 140px;
        height: 120px;

    }
    
    
}



/*__________full screeeen___________*/


@media (min-width: 1008px){

    #myselfId {
        width: 120px;
        height: 120px;
       }  


 

    #sesselId {
        width: 12rem;
        height: 10rem;
        position: fixed;
        left: 10%;
        bottom: 5%;
        z-index: 100002;
    }

 




}

