
  /*Normalize*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


a{
    color: #333;
}

img{
    max-width: 100%;   
}

/*Layout*/
body{
    font-family: 'Rubik Light';
    color: #333;    
}

header {
    top: 0;
    position: sticky;
    z-index: 100;
   
}

header, main {
    justify-content: center;
  

}

section {
    padding-top: 5rem; 
}



section:first-child {
    padding-top:0 ;
}


footer {
    padding: 2rem;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: end;
    height: 5vh;
    z-index: 1000;
    _background-color: #333;
   
}

#datenschutz a {
    font-family: 'Rubik Regular';
    
}

.maincontainer {
    width: 100%;
    padding: 14px 12px 0 12px;

}

.maincontainer2 {
   
    width: 100%;
    position: relative;
    display: block;
    padding: 0px 20px 0px 20px;
   
}


#datenschutz {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-bottom: 3.5rem;
  
}


@media (min-width: 1024px){

    section {
        padding-top: 0rem; 
        padding-bottom: 5rem;
    }

    



    
}




