/* Custom Cursor */
.swiper{
  cursor: url('/img/PNG/swipe1.png'), auto; /* Setze benutzerdefinierte Cursor-Datei */
  position: relative; /* Wichtig für Cursor-Animationen */

}

/* Cursor beim Drücken */
.swiper:active {
  cursor: url('/favicon/apple-touch-icon.png'), auto;
}

/* Buttons und Pagination */
.swiper-button-next, 
.swiper-button-prev {
  color:#848ff9;
  display: block; /* Versteckt, da du die Benutzer auf Swipen lenken willst */
}

.swiper-pagination-bullet {
  background-color: var(--rot) ;
}

.swiper-pagination-bullet-active {
  background-color: #D0D4FB!important;
}

/* Slides */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 0;
  padding-bottom: 2rem;
  
}



#postkarten {
  height: 350px;
}

@media (min-width: 1024px){
  
  #postkarten{
    height: auto;
  }

  
}
